# Normalize text files to LF on all platforms
* text=auto eol=lf

*.yml  text eol=lf
*.yaml text eol=lf
*.sh   text eol=lf
*.json text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.vue  text eol=lf
*.md   text eol=lf
*.css  text eol=lf
*.html text eol=lf
