name: Build UI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Enable corepack (pnpm)
        run: |
          corepack enable
          corepack prepare pnpm@9.12.1 --activate

      - name: Install deps
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Zip dist
        run: |
          cd dist
          zip -r ../dist.zip .
          cd ..

      - name: Upload dist.zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-zip
          path: dist.zip
